.tituloprincipal {color:aliceblue;
    font-size: 42px;
width: 500px;
margin: auto;}
body {background-color: dodgerblue;}
body {color: aliceblue ;}

.content {
    margin-top: auto
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 80px;
  }